<div class="footer_menu">
        <div class="menu">
          <ul class="footer_menu_left">
            <li>
              <a href="#" class="menu_item">Copyright © 2015 <span class="footer_option">Waxom</span></a>
            </li>
            <li>
              <a href="#" class="menu_item">Privacy Policy</a>
            </li>
            <li>
              <a href="#" class="menu_item"><span class="faq">FAQ</span></a>
            </li>
            <li>
              <a href="#" class="menu_item">Support</a>
            </li>
          </ul>
        </div>
        <div class="menu">
          <ul class="footer_menu_left">
            <li>
              <a href="#" class="menu_item">Designed by <span class="footer_option">ThemeFire</span></a>
            </li>
            <li>
              <a href="#" class="menu_item">Only on <span class="footer_option">Envato Market</span></a>
            </li>
          </ul>
        </div>
      </div>