.second_menu_logo {
	margin: 20px auto;
	width: 100%;
	max-width: 100px;
	height: 100px;
	cursor: pointer;
	position: absolute;
	left: 0;
	right: 0;
	display: none;
}
.second_menu_icon {
	width: 100%;
	height: 100%; 
	display: block;
	margin: 0 auto;
	padding-left: 15px;
	color: #20b2aa;
}
.fa.fa-toggle-down {
	font-size: 100px;
}
.second_menu {
	width: 850px;
	margin: 20px auto 0;
	display: none;
}
.second_menu ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.second_menu.second_menu_open {
	display: block;
	margin-left: -310px;
}
.active {
	color:red;
}