<div class="projects">
          <div class="project">
            <div class="picture" #pictureElem (mouseover)="onMouseOver($event)" (mouseout)="onMouseOut($event)">
              <img src="../assets/img/mobile_project.png" alt="" class="mobile">
              <a class="link" #link (click)="onLinkClick($event)"></a>
              <a class="lupa" #lupa (click)="onLupaClick($event)"></a>
            </div>
            <div class="description">
              <span>Claritas Etiam Processus</span>
              <div class="project_kategory">Photography, Nature</div>
            </div>
          </div>
          <div class="project">
            <div class="picture pict_active" #pictureElem (mouseover)="onMouseOver($event)" (mouseout)="onMouseOut($event)">
              <img src="../assets/img/nature_project_active.png" alt="" class="sea_first active_img">
              <a class="link" #link (click)="onLinkClick($event)"></a>
              <a class="lupa" #lupa (click)="onLupaClick($event)"></a>
            </div>
            <div class="description active_desc">
              <span>Quam Nutamus Farum</span>
              <div class="project_kategory active_category">Graphic Design, Mock-Up</div>
            </div>
          </div>
          <div class="project">
            <div class="picture" #pictureElem (mouseover)="onMouseOver($event)" (mouseout)="onMouseOut($event)">
              <img src="../assets/img/book_project.png" alt="" class="book">
              <a class="link" #link (click)="onLinkClick($event)"></a>
              <a class="lupa" #lupa (click)="onLupaClick($event)"></a>
            </div>
            <div class="description">
              <span>Usus Legentis Videntur</span>
              <div class="project_kategory">Photography, Holiday</div>
            </div>
          </div>
          <div class="project">
            <div class="picture" #pictureElem (mouseover)="onMouseOver($event)" (mouseout)="onMouseOut($event)">
              <img src="../assets/img/nature_project_beards.png" alt="" class="beards">
              <a class="link" #link (click)="onLinkClick($event)"></a>
              <a class="lupa" #lupa (click)="onLupaClick($event)"></a>
            </div>
            <div class="description">
              <span>Claritas Etiam Processus</span>
              <div class="project_kategory">Photography, Nature</div>
            </div>
          </div>
          <div class="project">
            <div class="picture" #pictureElem (mouseover)="onMouseOver($event)" (mouseout)="onMouseOut($event)">
              <img src="../assets/img/magazine+project.png" alt="" class="magazine">
              <a class="link" #link (click)="onLinkClick($event)"></a>
              <a class="lupa" #lupa (click)="onLupaClick($event)"></a>
            </div>
            <div class="description">
              <span>Usus Legentis Videnturs</span>
              <div class="project_kategory">Photography, Holiday</div>
            </div>
          </div>
          <div class="project">
            <div class="picture" #pictureElem (mouseover)="onMouseOver($event)" (mouseout)="onMouseOut($event)">
              <img src="../assets/img/nature_project_sea.png" alt="" class="sea_second">
              <a class="link" #link (click)="onLinkClick($event)"></a>
              <a class="lupa" #lupa (click)="onLupaClick($event)"></a>
            </div>
            <div class="description">
              <span>Usus Legentis Videntur</span>
              <div class="project_kategory">Photography, Holiday</div>
            </div>
          </div>
</div>